.cart-button {
    font-size: 18px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 2;
    background-color: darkslateblue;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
    color: whitesmoke;
    text-decoration: none;
}

.cart-button:hover {
    background-color: slateblue;
}